@mixin d-flex($justify:null, $align:null, $direction:null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin font($size: null, $weight: null, $color: null, $align: null) {
    @if $size != null {
        font-size: $size;
    }
    @if $weight != null {
        font-weight: $weight;
    }
    @if $color != null {
        color: $color;
    }
    @if $align != null {
        text-align: $align;
    }
}

@function to-rem($value, $base: 16px) {
    @if type-of($value) == 'number' and unit($value) == 'px' {
        @return math.div($value, $base) * 1rem;
    } @else {
        @warn "O valor #{$value} não está em pixels (px). O valor será retornado sem alterações.";
        @return $value;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

$bg-primary:        #005695;
$bg-primary:        #124771;
$color-white:       #fff;
$color-black:       #232020;
$sm-device:          36rem;   // 576px
$md-device:          48rem;   // 768px
$lg-device:          75rem;   // 1200px
$xl-device:          75rem;   // 1200px


.header {
    height: 20vh;
    @include d-flex (space-between,center);
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);

    @media (max-width: $md-device) {
        flex-direction: column;
        justify-content: space-evenly;
    }

    &Nav {
        width: 20%;
        @include d-flex(space-between,center);

        @media (max-width: $md-device) {
            width: 90%;
        }
        
        h1 {
            color: $color-white;
            font-size: 30px;
        }
    }

    &List {
        @include d-flex(space-around,center);
        list-style: none;
    }

    &Link {
        font-size: to-rem(20px);
        color: $color-white;
        text-decoration: none;
    }

    &Search {
        width: 25%;
        height: 6vh;
        @include d-flex (space-evenly,center);
        margin-right: 1%;
        border-radius: to-rem(20px);
        border: solid $color-white;

        @media (max-width: $md-device) {
            display: none;
        }

        input {
            width: 60%;
            height: 10vh;
            border: none;
            background-color: transparent;

            &::placeholder {
                color: $color-white;
                font-size: to-rem(20px);
            }
        }
    }

    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}