

.sectionFooter {
    height: 15vh;
    @include d-flex (space-between,center);
    color: #fff;
    padding: 0 3%;
    background-color: $bg-primary;

    @media (max-width: $md-device) {
        @include d-flex(space-evenly,null,column);
    }

    nav {
        width: 15%;
        @include d-flex(space-between,center);

        @media (max-width: $md-device) {
            width: 60%;
        }
    }
}

.copyright {
    height: 8vh;
    color: $color-white;
    @include d-flex (center,center);
    background-color: $color-black;

    @media (max-width: $md-device) {
        p {
            width: 60%;
            font-size: to-rem(12px);
            text-align: center;
        }
    }
}